pyjwt==2.1.0
mysql-connector-python==8.0.26
requests~=2.23.0
sqlalchemy==2.0.3
jsonschema
fastapi==0.111.0
uvicorn[standard]==0.34.3
pydantic==2.7.3
pydantic-settings==2.3.4
pydantic[email]
PyYAML~=5.3.1
starlette~=0.37.0
aiohttp==3.8.1
asyncmy==0.2.9
Jinja2==3.0.3
psycopg2-binary
alembic==1.13.1
APScheduler>=3.10.0
redis==5.0.4
redlock~=1.2.0
yagmail
oss2~=2.15.0
python-multipart
awaits~=0.0.1
grpc-requests
loguru~=0.7.0
qiniu~=7.6.0
cos-python-sdk-v5
asyncpg
pymysql
mitmproxy~=8.0.0
jsonpath~=0.82
py-mock
starlette_context
gunicorn
supervisor
pyDes~=2.0.1
aioetcd3
grpcio